@model IEnumerable<TallerCRUD.Models.Editoriale>

@{
    ViewData["Title"] = "Editoriales";
}

<h1>Editoriales</h1>

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #e0e0e0;
    }
</style>

<p class="btn btn-primary">
    <a asp-action="Create" class="titulo">Crear nueva editorial</a>
</p>

<table class="table table-striped" id="example">
    <thead>
        <tr>
            <th style="text-align: center;">
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroNombre"]">
                    Nombres
                </a>
            </th>
            <th style="text-align: center;">
                <a asp-action="Index" asp-route-filtro="@ViewData["FiltroTelefono"]">
                    Telefono
                </a>
            </th>
            <th style="text-align: center;">
                Dirección
            </th>
            <th style="text-align: center;">
                Email
            </th>
            <th style="text-align: center;">
                Sitioweb
            </th>
            <th style="text-align: center;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.Sitioweb)
                </td>
                <td style="text-align: center;">
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Nit" style="margin-right: 5px;">Editar</a>
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Nit" style="margin-right: 5px;">Detalles</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Nit" style="margin-right: 5px;">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Inicializar DataTable con configuraciones personalizadas
    new DataTable('#example', {
        dom: '',
        language: {
            search: "Buscar:" // Texto personalizado para el campo de búsqueda
        },
        layout: {
            topStart: {
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fa-solid fa-copy"></i>',
                        className: 'botonCopiar btn',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4] // Excluye la última columna
                        }
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fa-solid fa-file-csv"></i>',
                        className: 'botonCsv btn',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4] // Excluye la última columna
                        }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fa-regular fa-file-excel"></i>',
                        className: 'botonExcel btn',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4] // Excluye la última columna
                        }
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fa-solid fa-file-pdf"></i>',
                        className: 'botonPdf btn',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4] // Excluye la última columna
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa-solid fa-print"></i>',
                        className: 'botonPrint btn',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4] // Excluye la última columna
                        }
                    },
                    {
                        extend: 'colvis',
                        text: 'Filtrar',
                        className: 'botonColvis btn'
                    }
                ]
            }
        },
        scrollX: true, // Habilitar desplazamiento horizontal
        initComplete: function(json, settings) {
            $(".dt-buttons").removeClass("dt-buttons");
            $(".dt-button").addClass("botones");
        }
    });
</script>